* {
    font-size: 16px;
    font-family: 'Baloo 2', cursive;
    margin: 0;
	padding: 0;
	outline: none;
    box-sizing: border-box;
    transition:
            150ms ease color,
            150ms ease box-shadow,
            150ms ease border-color,
            150ms ease background-color;
}
a {
    word-wrap: break-word;
}
h2, h3, h4 {
    color: rgba(0,0,0,0.8);
}
h2 > span, h3 > span, h4 > span {
    font-size: inherit !important;
}
h3 {
    font-size: 1.6rem;
    margin: 0;
}
h4 {
    font-size: 1.2rem;
    margin: 0;
}
body {
    background-color: whitesmoke;
}
body, html {
	overflow-x: hidden;
}
main {
    margin: auto;
    max-width: 1400px;
    padding: 3vw;
}
button {
    border: none;
    background: none;
}
button:hover {
    cursor: pointer;
}
input {
    width: 100%;
    border: none;
    padding: 0.3rem;
    background: none;
    border-bottom: 1px solid;
}
.button object {
    pointer-events: none;
}
.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0.6rem;
    border: 1px solid black;
}
.button:hover {
    background-color: rgba(0,0,0,0.1);
}
.range {
    line-height: 0;
    font-size: 12px;
    color: rgba(0,0,0,0.3);
}
.card {
    min-height: 200px;
    margin: 1rem auto;
}
.title {
    padding: 1rem;
}
.card span {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.3);
}
.content {
    padding: 1rem;
    background-color: white;
    flex-grow: 1;
    position: relative;
}

.red-bg {
    background-color: pink;
}

.blue-bg {
    background-color: #cbd9ff;
}
.update {
    position: absolute;
    bottom: 0;
    right: 0px;
    color: grey;
    background: rgba(203, 217, 255, 0.3);
    padding-left: 6px;
    padding-right: 6px;
}
.link:hover {
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .card span {
        font-size: 1.1rem;
    }
    input, select, textarea {
        font-size: 16px;
    }
}
